#banner {
    .bnr-box {
        padding: 200px 0 142px;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
    .txt {
      h1 {
        color: $black;
        -webkit-text-stroke-width: 1;
        -webkit-text-stroke-color: $black;
        font-family: $heading;
        font-size: 72px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%; /* 86.4px */
        letter-spacing: 0.3px;
        max-width: 563px;
        margin-top: 30px;
      }
      p {
        max-width: 500px;
        margin-top: 60px;
        color: $black;
        font-family: $paragraph;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 28px */
      }
      form {
        margin-top: 60px;
        .box {
          border: 2px solid $brand;
          display: flex;
          justify-content: space-between;
          max-width: 443px;
          input {
            flex-grow: 2;
            border: none;
            padding: 20px;
            color: $black;
            font-family: $paragraph;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 100%; /* 16px */
            letter-spacing: 0.2px;
            &::placeholder {
              color: $black;
              font-family: $paragraph;
              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              line-height: 100%; /* 16px */
              letter-spacing: 0.2px;
              text-transform: capitalize;
            }
          }
          button {
            flex-grow: 1;
            color: $white;
            font-family: $paragraph;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 170%; /* 30.6px */
            letter-spacing: 0.2px;
            text-transform: capitalize;
            border: none;
            background-color: $brand;
            padding: 30px 20px;
          }
        }
      }
    }
    .iamge {
      position: relative;
      text-align: end;
      img {
        &:nth-child(2) {
          margin-right: 22px;
        }
      }
      .bnrvictor1 {
        position: absolute;
        top: 0;
        right: 0;
      }
      .bnrvictor2 {
        position: absolute;
        bottom: 3%;
        left: 28%;
      }
    }
  }
}
