header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  nav {
    .navbar-brand {
      font-family: $heading;
    }
    .navbar-nav {
      column-gap: 54px;
      .nav-item {
        .nav-link {
          color: $black;
          text-align: right;
          font-family: $paragraph;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          text-transform: capitalize;
          transition: 0.4s;
          &:hover {
            color: $brand;
          }
        }
      }
    }
  }
}
